
.won{
    display: flex;   
    justify-content:space-around;
    font-size:medium;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    color: darkgrey;
}
.bgcolor{
    background-color: darkgoldenrod;
}

.hovering{
    background-color: darkgoldenrod;
}
.box{
    height: 100px;
    border-radius: 10px;
}
@media(max-width:700px)
{
   .box  {
        height: 75px;
    }
}


#rgb_name{
    font-size: larger;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}
/* .box{

    justify-content: center;

   padding: 40px;
   width: 56px;
   height: 60px;
   margin: 20px;
   border-radius: 8px;
} */
body{
    background: black;
}
h1{
    color: chartreuse;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
    background-color:dimgray;
}
.newgame:hover,.hard:hover,.easy:hover{
    background-color: darkgoldenrod;
}