
.won{
    display: flex;   
    justify-content:space-around;
    font-size:medium;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    color: darkgrey;
}
.bgcolor{
    background-color: #17a2b8;
    color:white;
}
.textcolor{
color:#17a2b8;
}
#rgb_name{
    font-size:70px;
    letter-spacing: 4px;
    font-style: normal;
    font-family: initial;
    font-weight: bold;
}

.hovering{
    background-color: #17a2b8;
}
.box{
    height: 140px;
    border-radius: 13px;
    transition: background-color 0.3s;
}


body{
    background: black;
    padding: 0;
}
h1{
    /* color: info; */
    margin: 0px -15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0px;
    /* background-color:dimgray; */
}
.newgame:hover,.hard:hover,.easy:hover{
    background-color: #17a2b8;
    color: white;
}
.newgame,.easy,.hard,.result{
    font-weight: bold;
    /* color:#17a2b8; */
} 


.btn{
    letter-spacing: 1px;
    transition: all 0.3s;
}

@media(max-width:760px)
{
   .box  {
        height: 100px;
    }
    #rgb_name{
        font-size: 50px;
        letter-spacing: 2px;
    }
    .btn{
        letter-spacing: 0px;
    }
}


/* .box{

    justify-content: center;

   padding: 40px;
   width: 56px;
   height: 60px;
   margin: 20px;
   border-radius: 8px;
} */